.link {
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  padding: 8px;
}

@media only screen and (max-width: 688px) {
  .link {
    margin-left: 70px;
  }
}
